body{
	font-family: montserrat;
	font-weight: bold;
	font-size: 12px;
	background-color: #0b1d26ff;
	color: white;
}
.bg-img{
	background: url(./assets/images/bg-img.jpg);
	background-size: cover;
	box-sizing: content-box;
	-webkit-box-shadow: inset 0px 0px 70px 70px #444444;
	-moz-box-shadow: inset 0px 0px 70px 70px #444444;
	box-shadow: inset 0px 0px 40px 50px #0b1d26ff;
}
.navbar{
	height: 25px;
	position: relative;
}
ul{
	position: absolute;
	margin: auto;
	top: 20px;
}
li{
	display: inline-block;
	padding: 10px;
}
.logo{
	padding-right: 450px;
	font-size: 22px;
	font-family: noto serif;
}
.login{
	margin-left: 430px;
}
.title {
	margin-top: 170px;
	margin-left: 400px;
	color: yellow;
	letter-spacing: 4px;
}
.line{
	background-color: yellow;
	width: 50px;
	height: 1px;
	position: absolute;
	margin-top: 8px;
	margin-left: 330px;
}
.container div{
	position: absolute;
}
.social{
	margin-left: 50px;
	writing-mode: vertical-rl;
	margin-top: 20px;
}
.paragraph{
	margin-left: 335px;
}
.paragraph p{
	position: relative;
	font-family: noto serif;
	font-size: 52px;
	font-weight: initial;
	top: -50px;
}
.scroll{
	margin-left: 1245px;
}
.down{
	margin-top: 178px;
	margin-left: 320px;
}
.down a{
	text-decoration-line: none;
	color: white;
}
.titleSection h1{
	position: absolute;
	color: white;
	font-size: 150px;
	margin-top: -80px;
	margin-left: 228px;
	opacity: 20%;
}
.firstSection{
	margin-top: 580px;
	margin-left: -40px;
}
#firstSection{
	font-size: 40px;
}
#firstParagraph{
	position: relative;
	font-family: montserrat;
	font-size: 12px;
	font-weight: bold;
	top: -80px;
	padding-top: 8px;
}
.img{
	position: relative;
	margin-left: 950px;
	width: 350px;
	height: 420px;
	background: url(./assets/images/firstIMG.png);
	background-size: 100%;
	top: 900px;
}
.img2{
	position: relative;
	margin-left: -300px;
	width: 350px;
	height: 420px;
	background: url(./assets/images/firstIMG.png);
	background-size: 100%;
	top: 1450px;
}
.img3{
	position: relative;
	margin-left: 950px;
	width: 350px;
	height: 420px;
	background: url(./assets/images/firstIMG.png);
	background-size: 100%;
	top: 2050px;
}
.secondSection{
	margin-top: 550px;
	margin-left: 500px;
}
#more{
	margin-left: 10px;
	position: absolute;
	margin-top: 50px;
	color: yellow;
}
